[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.1"
django-environ = "==0.11.2"
django-recaptcha = "==4.0.0"
django-tailwind = "*"
django-browser-reload = "==1.15.0"
django-configurations = "==2.5"
django-resized = "==1.0.2"
pillow = "==10.4.0"
django-admin-honeypot = {ref = "develop", git = "git+https://github.com/Bubuclem/django-admin-honeypot"}

[dev-packages]

[requires]
python_version = "3.10"
