{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clément Burdeyron | {% block title %}{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-white">
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "base/footer.html" %}

    {{reCaptchaV2.captcha}}
</body>
</html>