<footer class="mt-24 bg-gray-900 sm:mt-12">
    <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="{% url 'front:index' %}" class="text-base text-gray-400 hover:text-gray-300">
                    Accueil
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="{% url 'front:contact' %}" class="text-base text-gray-400 hover:text-gray-300">
                    Contact
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="{% url 'front:about' %}" class="text-base text-gray-400 hover:text-gray-300">
                    A propos
                </a>
            </div>
        </nav>
        <div class="mt-8 flex justify-center space-x-6">
            {% for media in social_media %}
            <a href="{{media.url}}" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">{{media.name}}</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="{{media.icon}}"
                        clip-rule="evenodd" />
                </svg>
            </a>
            {% endfor %}
        </div>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2022 cburdeyron. Tous droits réservés.
        </p>
    </div>
</footer>