<div class="mt-32">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
        <div class="lg:grid lg:grid-cols-2 lg:gap-24 lg:items-center">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
                    Mes instruments du quotidien
                </h2>
                <p class="mt-6 max-w-3xl text-lg leading-7 text-gray-500">
                    La liste des outils que j'utilise aussi bien au quotidien dans un environnement professionnel comme personnel pour tout type de situation.
                </p>
                <div class="mt-6">
                    <a href="{%url 'front:tools'%}" class="text-base font-medium text-rose-500">
                        Plus d'outils&rarr;
                    </a>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
                {% for tool in tools %}
                <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <img class="max-h-12" src="{{tool.icon}}"
                        alt="Transistor">
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>